@import url("https://fonts.googleapis.com/css?family=DM Serif Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jost");

* {
  margin                : 0;
  padding               : 0;
}

body,
html {
  overflow-x            : hidden;
  margin                : 0;
  padding               : 0;
  min-height: 1000px;
}

.home-2{
  position: relative;
  background: url(../Photo.png);
  background-size: 50%;
  background-repeat: no-repeat;
}


/* Navbar */

.dropdown-2:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
  transition: ease-in 0.4s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-2:hover .dropdown-content {
  display: block;
}

/* Navbar */

/* Teks */
.teks-display {
  font-family           : "DM Serif Display", sans-serif;
  font-size             : 50px;
  font-weight           : 400;
  /* line-height       : 60px; */
  letter-spacing        : 0px;
  justify-content       : flex-start;
  color                 : #cda274;
}

h1 {
  font-family           : "DM Serif Display", sans-serif;
  font-size             : 38px;
  font-weight           : 400;
  /* line-height       : 60px; */
  letter-spacing        : 0px;
  text-align            : left;
  color                 : #292f36;
}

h5 {
  font-family           : "DM Serif Display", sans-serif;
  font-size             : 20px;
  font-weight           : 400;
  /* line-height       : 60px; */
  letter-spacing        : 0px;
  text-align            : center;
  color                 : #292f36;
}

.p-medium {
  font-family           : "Jost", sans-serif;
  font-size             : 16px;
  font-weight           : 500;
  line-height           : 25px;
  letter-spacing        : 0.01em;
  text-align            : left;
  color                 : #4d5053;
}

.p-small {
  font-family           : "Jost", sans-serif;
  font-size             : 12px;
  font-weight           : 400;
  line-height           : 25px;
  letter-spacing        : 0.01em;
  text-align            : left;
  color                 : #4d5053;
}

.text-1 {
  font-family           : "Jost", sans-serif;
  font-size             : 22px;
  font-weight           : 400;
  line-height           : 33px;
  letter-spacing        : 0.01em;
  text-align            : left;
}

/* Teks */

/* Button */
.button-default {
  display               : flex;
  align-items           : center;
  background-color      : #292f36;
  border                : 0px solid #c4c4c4;
  border-radius         : 10px;
  font-family           : "Jost", sans-serif;
  font-style            : normal;
  font-weight           : 500;
  font-size             : 14px;
  color                 : #fff;
  height                : 52px;
  width                 : 50%;
  padding               : 0 20px;
  text-decoration       : none;
  justify-content       : center;
}

.button-aja {
  display               : flex;
  align-items           : center;
  font-family           : "Jost", sans-serif;
  font-style            : normal;
  font-weight           : 600;
  font-size             : 14px;
  color                 : #4d5053;
  height                : 45px;
  width                 : 100%;
  padding               : 0 20px;
  text-decoration       : none;
  justify-content       : center;
}

.button-bulat-1 {
  display               : block;
  width                 : 55px;
  height                : 55px;
  background-color      : #f4f0ec;
  color                 : white;
  border-radius         : 50px;
  text-align            : center;
  font-size             : 30px;
}

.button-bulat-2 {
  display               : flex;
  flex-direction        : column;
  width                 : 40px;
  height                : 40px;
  background-color      : #f4f0ec;
  border-radius         : 50px;
  align-items           : center;
  justify-content       : center;
}

.tea {
  position            : absolute;
  top                 : 50%;
  left                : 50%;
  transform           : translate(-50%, -50%);
  -ms-transform       : translate(-50%, -50%);
  background-color    : #555;
  color               : white;
  font-size           : 16px;
  padding             : 12px 24px;
  border              : none;
  cursor              : pointer;
  border-radius       : 5px;
  /* z-index: 5; */
  }
/* Button */

.dropdown-2 {
  float: left;
  overflow: hidden;
  
}

.dropdown-2 .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

.ps-25 {
  padding-left          : 15rem !important;
}

.pe-25 {
  padding-right         : 15rem !important;
}

.nav-link {
  display               : block;
  padding-left          : 25px !important;
  font-size             : var(--bs-nav-link-font-size);
  font-weight           : var(--bs-nav-link-font-weight);
  color                 : var(--bs-nav-link-color);
  text-decoration       : none;
  background            : 0 0;
  border                : 0;
  transition            : color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-family           : "Jost", sans-serif;
  font-size             : 14px;
  font-weight           : 600;
  line-height           : 100px;
  letter-spacing        : 0.01em;
  text-align            : left;
}

.floating {
  display               : block;
  width                 : 70px;
  height                : 70px;
  background-color      : #f4f0ec;
  color                 : white;
  border-radius         : 50px;
  text-align            : center;
  font-size             : 30px;
}

.card:hover{
  background-color: #F4F0EC;
}

.card-about {
  position              : relative;
  display               : flex;
  flex-direction        : column;
  min-width             : 0;
  word-wrap             : break-word;
  background-color      : #fff;
  background-clip       : border-box;
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius         : 20px;
  /* transition        : transform 0.7s ease-in-out; */
}

.card-body {
  text-align            : center;
}

.garis-vertikal {
  border-right          : 1px solid #cda274;
  justify-content       : space-between;
  padding-left          : 60px;
  padding-right         : 60px;
}
